@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.mulish {
  font-family: "Mulish", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

/* Font Section ends */

/* Common Styles */

* {
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
}

.section-title {
  color: #12132d;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  font-size: 40px;
}
.para {
  color: rgba(18, 19, 45, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

footer{
  background: linear-gradient(180deg, rgba(18, 19, 45, 0.05) 0%, rgba(18, 19, 45, 0.00) 100%);
}